.choose_menu {
    .choose_menu_container {
        .container_header {
            @apply flex;
            @apply items-center;
            @apply justify-between;
            .atom_ch_name {
                @apply text-lg;
            }
            .atom_en_name {
                @apply text-lg;
                color: rgb(0, 211, 211);
            }
        }
    }
    .container_body {
        .atom_ele_number {}
        .atom_quality {}
        .describe_body {
            div {
                @apply mt-2;
            }
        }
        .into_nucleus {
            @apply mt-5;
        }
    }
    &:deep(.el-card.box-card) {
        @apply rounded-md;
        border-left: none;
        border-right: none;
    }
    &:deep(.el-button) {
        @apply w-full;
    }
}