#app {
    @apply font-sans;
    @apply antialiased;
}

body {
    margin: 0;
}

.robot {
    @apply right-8;
    @apply bottom-8;
    @apply shadow-xl;
    @apply rounded-full;
    position: fixed;
    background-color: rgb(0, 35, 35);
}

@keyframes opacityAni {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        scale: 1;
        opacity: 100;
    }
}

@mixin useOpacityAni($aniTime:0.82s) {
    animation: opacityAni $aniTime cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@mixin menuBackgroundColor {
    @apply bg-gray-800;
    @apply box-border;
    @apply border-solid;
    @apply border-0;
    @apply border-gray-600;
}

.canvas_mask {
    @apply absolute;
    @apply inset-0;
    @apply z-30;
}