/*
 * @Descripttion: 
 * @Author: lgldlk
 * @Date: 2021-07-05 13:50:16
 * @Editors: lgldlk
 * @LastEditTime: 2021-07-09 09:10:31
 */

.right_menu {
    @apply h-full;
    @apply overflow-y-auto;
    @apply box-border;
    width: 22%;
    background: #003030;
    border: 1px rgb(235, 238, 245) solid;
    border-right: none;
    @apply pt-3;
    .choose_menu {
        @apply px-1;
        @apply mt-1;
    }
    .tool_menu {
        @apply w-full;
        .tools_container {
            @apply px-1;
            @apply mt-3;
            @apply shadow-md;
            .tool_options {
                @apply flex;
                @apply flex-row;
                @apply flex-wrap;
                @apply pt-2;
                .tool_option {
                    @apply flex-1;
                    @apply rounded-lg;
                    @apply p-1;
                    @apply flex-col;
                    @apply select-none;
                    @apply m-2;
                    @apply cursor-pointer;
                    @apply flex;
                    @apply justify-center;
                    @apply items-center;
                    min-width: 33%;
                    background: #004848;
                    box-shadow: 0px 0px 10px rgb(0, 255, 255, 75%);
                    border: 1px solid rgba(127, 255, 255, 0.75);
                    .icon_con {}
                    .tool_title {
                        @apply text-sm;
                        margin-top: 0.5rem;
                        color: rgba(127, 255, 255, 0.75);
                    }
                }
            }
        }
    }
    &:deep(.el-collapse-item) {
        @apply bg-black;
        border-left: 1rem solid #002323;
        border-right: 1rem solid #002323;
        border-bottom: 1px solid rgb(235, 238, 245);
    }
    &:deep(.el-collapse-item__wrap) {
        @apply border-none;
    }
    &:deep(.el-collapse-item__header) {
        @apply border-none;
    }
    &:deep(.el-collapse) {
        @apply rounded-md;
        @apply overflow-hidden;
    }
    &:deep(div.el-collapse-item__header.is-active) {
        border-bottom: 1px solid rgba(127, 255, 255, 0.75);
    }
    &:deep(.icon) {
        @apply w-10;
        @apply box-border;
        @apply p-1;
        filter: drop-shadow(2px 2px 2px rgb(0, 255, 255, 0.75));
    }
}

.popWindow_footer {
    @apply flex;
    @apply justify-end;
}