.scene_container {
    @apply flex;
    @apply flex-row;
    height: 100vh;
    width: 100vw;
    #mainScene {
        width: 78%;
        @apply relative;
        background-color: aqua;
        overflow: hidden;
        height: 100vh;
    }
}