.main-home {
    @apply w-full;
    @apply relative;
    min-height: calc(100vh - 61px);
    background-color: #fff;
    .home-Bg {
        @apply absolute;
        @apply inset-0;
        z-index: 0;
    }
    .home-body {
        @apply py-5;
        &::before {
            z-index: 1;
            @apply absolute;
            content: "";
            @apply inset-0;
            background: rgba(255, 255, 255, 0.2);
        }
        .regdoll-modules {
            @apply relative;
            @apply w-full;
            @apply box-border;
            @apply px-32;
            @apply flex;
            @apply flex-row;
            @apply flex-wrap;
            @apply cursor-pointer;
            z-index: 2;
            .regdoll-module {
                @apply w-1/3;
                @apply box-border;
                @apply p-6;
                .main-module {
                    @apply flex;
                    @apply flex-col;
                    @apply shadow-inner;
                    @apply box-border;
                    @apply w-full;
                    box-shadow: rgb(0 0 0 / 10%) 0px 2px 12px 0px;
                    border-radius: 4px;
                    border: 1px solid rgb(235, 238, 245);
                    background-color: rgba(0, 35, 35, 0.8);
                    overflow: hidden;
                    color: rgb(191, 239, 239);
                }
                .module-header {
                    @apply px-2;
                    @apply pt-4;
                    .header-img {
                        @apply w-full;
                        @apply h-56;
                        @apply duration-200;
                        @apply object-cover;
                        @apply rounded-md;
                        @apply shadow-lg;
                        &:hover {
                            @apply transform;
                            @apply scale-125;
                        }
                    }
                }
                .module-footer {
                    @apply p-3;
                    .into_button {
                        @apply flex;
                        @apply justify-end;
                        @apply mt-3;
                    }
                }
            }
        }
    }
}