.topBar {
    @apply flex;
    @apply shadow-lg;
    justify-content: space-between;
    background-color: rgb(0, 35, 35);
    .bar-right {
        @apply flex;
        @apply mr-4;
        &:deep(.el-menu.el-menu--horizontal) {
            @apply border-none;
        }
        &:deep(.el-menu-item:hover) {
            background-color: black;
        }
        &:deep(.el-menu-item:focus) {
            background-color: black;
        }
    }
    .topBar-menu {
        @apply mx-3;
        &:deep(.el-menu-item) {
            @apply mx-5;
        }
    }
    .userInfo {
        @apply flex;
        @apply items-center;
        @apply justify-center;
        .userName {
            @apply mx-3;
            color: rgb(191, 239, 239);
        }
    }
}