.pop-bg {
    @apply absolute;
    @apply inset-0;
    @apply bg-gray-700;
    @apply bg-opacity-70;
    animation: popWindowShow 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    .center-slot {
        @apply bg-white;
        @apply py-3;
        @apply px-3;
        @apply rounded-md;
        @apply pb-4;
        @apply absolute;
        @apply text-base;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        min-width: 10rem;
        .slot-header {
            @apply flex;
            @apply justify-between;
            @apply items-center;
            @apply border-solid;
            @apply border-0;
            @apply border-b-2;
            @apply w-full;
            @apply border-gray-200;
            margin-bottom: 0.75rem;
            padding-bottom: 0.45rem;
            .header-title {
                @apply whitespace-nowrap;
                padding-right: 0.75rem;
            }
            .forkIcon {
                @apply cursor-pointer;
                width: 0.75rem;
                height: 0.75rem;
                padding-right: 0.5rem;
            }
        }
        .footer {
            margin-top: 1rem;
        }
    }
}

@keyframes popWindowShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}